<%- include("header") -%>

<link rel="stylesheet" href="css/index.css">
</head>
<body>
    <main>
        <h1>Anime Info</h1>
        <form action="/" method="POST">
            <input class="main-input" type="text" name="animeName" placeholder="Enter the anime" autocomplete="off" autofocus>
            <button type="submit">Get Info</button>
        </form>
    </main>

<%- include("footer") -%>